<div class="panel panel-primary">
	<div class="panel-heading">
    	<h5>{{ title }}</h5>
	</div>
	
	<div class="panel-body">
 		<mat-form-field appearance="legacy">
    		<mat-label>profileId</mat-label>
		    <input matInput ngDefaultControl placeholder="profileId" name="kycProfile.profileId" [(ngModel)]="kycProfile.profileId">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
 		<mat-form-field appearance="legacy">
		    <mat-label>lastReviewedOn</mat-label>
		  	<input matInput ngDefaultControl [matDatepicker]="picker" placeholder="lastReviewedOn" name="kycProfile.lastReviewedOn" [(ngModel)]="kycProfile.lastReviewedOn">
			<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
			<mat-datepicker #picker></mat-datepicker>
			<mat-hint></mat-hint>
		</mat-form-field>
<p>
   		<mat-form-field appearance="legacy">
    		<mat-label>Customer</mat-label>
			<mat-select placeholder="Customer"   [compareWith]="compareFn"  [(ngModel)]="kycProfile.Customer">
		    	<mat-option name="kycProfile.Customer" ngDefaultControl  
		    		*ngFor="let customer of customers"		    		 
		    		[value]="customer._id">
		      		{{customer.firstName}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
   		<mat-form-field appearance="legacy">
    		<mat-label>IdentityDocuments</mat-label>
			<mat-select placeholder="IdentityDocuments" multiple  [compareWith]="compareFn"  [(ngModel)]="kycProfile.IdentityDocuments">
		    	<mat-option name="kycProfile.IdentityDocuments" ngDefaultControl  
		    		*ngFor="let identityDocument of identityDocuments"		    		 
		    		[value]="identityDocument._id">
		      		{{identityDocument.documentNumber}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
   		<mat-form-field appearance="legacy">
    		<mat-label>RiskAssessments</mat-label>
			<mat-select placeholder="RiskAssessments" multiple  [compareWith]="compareFn"  [(ngModel)]="kycProfile.RiskAssessments">
		    	<mat-option name="kycProfile.RiskAssessments" ngDefaultControl  
		    		*ngFor="let riskAssessment of riskAssessments"		    		 
		    		[value]="riskAssessment._id">
		      		{{riskAssessment.score}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
   		<mat-form-field appearance="legacy">
    		<mat-label>Screenings</mat-label>
			<mat-select placeholder="Screenings" multiple  [compareWith]="compareFn"  [(ngModel)]="kycProfile.Screenings">
		    	<mat-option name="kycProfile.Screenings" ngDefaultControl  
		    		*ngFor="let screeningResult of screeningResults"		    		 
		    		[value]="screeningResult._id">
		      		{{screeningResult.screeningDate}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
 		<mat-form-field appearance="legacy">
		    <mat-label>Status</mat-label>
			<mat-select placeholder="Status" name="kycProfile.Status" [(ngModel)]="kycProfile.Status">
		    	<mat-option ngDefaultControl *ngFor="let KycStatus of KycStatuss" [value]="KycStatus">
		      		{{KycStatus}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
                      <button 
		    (click)="updateKycProfile(kycProfile.profileId, kycProfile.lastReviewedOn, kycProfile.Customer, kycProfile.IdentityDocuments, kycProfile.RiskAssessments, kycProfile.Screenings, kycProfile.Status)" 
		    class="btn btn-primary">update
		</button>
	</div> <!-- panel body -->	
</div> <!-- panel panel-primary -->
