<div class="panel panel-primary">
	<div class="panel-heading">
    	<h5>{{ title }}</h5>
	</div>
	
	<div class="panel-body">
		<mat-form-field appearance="legacy">
    		<mat-label>terminalId</mat-label>
		    <input matInput ngDefaultControl placeholder="terminalId" name="aTM.terminalId" [(ngModel)]="aTM.terminalId">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
		<mat-form-field appearance="legacy">
    		<mat-label>location</mat-label>
		    <input matInput ngDefaultControl placeholder="location" name="aTM.location" [(ngModel)]="aTM.location">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
		<mat-form-field appearance="legacy">
    		<mat-label>Branch</mat-label>
			<mat-select placeholder="Branch"  [(ngModel)]="aTM.Branch">
		    	<mat-option name="aTM.Branch" ngDefaultControl  
		    		*ngFor="let branch of branchs"		    		 
		    		[value]="branch._id">
		      		{{branch.name}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
		<mat-form-field appearance="legacy">
		    <mat-label>Status</mat-label>
			<mat-select placeholder="Status" name="aTM.Status" [(ngModel)]="aTM.Status">
		    	<mat-option ngDefaultControl *ngFor="let ATMStatus of ATMStatuss" [value]="ATMStatus">
		      		{{ATMStatus}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
            <button 
		    (click)="addATM(aTM.terminalId, aTM.location, aTM.Branch, aTM.Status)" 
		    class="btn btn-primary">add
		</button>
	</div> <!-- panel body -->	
</div> <!-- panel panel-primary -->
